<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AStar" version="1.0.0" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net462" />
  <package id="OptimizedPriorityQueue" version="4.1.1" targetFramework="net462" />
  <package id="Troschuetz.Random" version="4.3.0" targetFramework="net462" />
</packages>