<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AStar" version="1.0.0" targetFramework="net462" />
  <package id="MonoGame.Framework.DesktopGL" version="3.7.1.189" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net462" />
  <package id="OptimizedPriorityQueue" version="4.2.0" targetFramework="net472" />
  <package id="Troschuetz.Random" version="4.3.1" targetFramework="net472" />
</packages>